<caption><h6>List of Menu</h6></caption>

<% @categories.each do |category| %>
  <div class="card border-primary">
    <div class="card-header text-center">
      <th><%= category.name %></th>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Items</th>
            <th scope="col">Single</th>
            <th scope="col">Double</th>
            <th scope="col">Triple</th>
          </tr>
        </thead>
        <tbody>
          <% category.items.each do |item| %>
            <tr >
              <th scope="row border"><%= item.name %></th>
              <% item.portions.each do |_k, v| %>
                <td scope="col" style="width: 25%" class='border' ><%= v %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div><!--card closed-->
  <br>

<%end%>
