<!doctype html>
<html lang="en">
  <head>
    <title>Menus Index</title>
  </head>
  <body>
    <caption><h6>List of Menu</h6></caption>
    <% @categories.each do |category| %>
      <table class="table caption-top">
        <thead>
          <tr>
            <th colspan="1"><%= category.name %></th>
            <th colspan="1">Single</th>
            <th colspan="1">Double</th>
            <th colspan="1">Triple</th>
          </tr>
        </thead>
        <tbody>
          <% category.items.each do |item| %>
            <tr>
              <th colspan="1"><%= item.name %></th>
            <% item.portions.each do |_k, v| %>
              <td colspan="1"><%= v %></td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%end%>
  </body>
</html>
