<table class="table caption-top">
  <thead>
  </thead>
  <tbody>
    <tr class='border'>
      <th scope="col" class='border' style="text-align: center;">Daily Sale</th>
      <th scope="col" class='border' style="text-align: center;">Weekly Sale</th>
    </tr>
    <tr class='border'>
      <td class='border' style="text-align: center;"><%= @daily_sale %></td>
      <td class='border' style="text-align: center;"><%= @weekly_sale %></td>
    </tr>
  </thead>
  <tbody>
    <tr class='border'>
      <th scope="col" class='border' style="text-align: center;">Month Sale</th>
      <th scope="col" class='border' style="text-align: center;">Yearly Sale</th>
    </tr>
    <tr class='border'>
      <td class='border' style="text-align: center;"><%= @monthly_sale %></td>
      <td class='border' style="text-align: center;"><%= @yearly_sale %></td>
    </tr>
  </tbody>
</table>
