<br>
<%= form_with model: category do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :name, :placeholder => "Category Name" %>
    <%= form.submit :class => 'btn btn-outline-secondary' %>
    <% category.errors.full_messages_for(:name).each do |message| %>
      <%= message %>
      <% end %>
  </div>
<% end %>
